#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}

#content {
    background-color: #fff;
    border-top: solid 6px #6e6672;
}

#createAdForm {
    display: inline-table;
   align-content: center;
}

p,h1 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
}
.card {
  float: left;
  width: 30.333%;
  padding: .50rem;
  margin-bottom: 2rem;
  border: 0;
}
